header{
	text-align: center;
	border-bottom: 3px solid black;
}

section{
	display: block;
	height: 40%;
	position: relative;
	text-align: center;
	padding: 10px;
}

#display-text{
	font-size: large;
}

#scroll-box{
	display: none;
	width:500px;
	font-size:small;
	overflow:scroll;
	text-align: center;
}